doctype html
html(lang="tr")
  head
    meta(charset="utf-8")
    title  Title
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    link(rel="stylesheet" href="assets/css/main.css")
    link(rel='Shortcut Icon', type='image/x-icon', href='assets/img/favicon.ico')
  body
    include _header.pug
    
    block content
    
    include _footer.pug
    
    script(type="text/javascript", src="assets/js/jquery.min.js")
    script(type="text/javascript", src="assets/js/popper.min.js")
    script(type="text/javascript", src="assets/js/bootstrap.min.js")
    script(type="text/javascript", src="assets/js/main.js")