media-sm()
	@media screen and (min-width: 576px)
		{block}

media-md()
	@media screen and (min-width: 768px)
		{block}
	
media-lg()
	@media screen and (min-width: 992px)
		{block}
	
media-xl()
	@media screen and (min-width: 1200px)
		{block}
		
media-xxl()
	@media screen and (min-width: 1300px)
		{block}

media-max-sm()
	@media screen and (max-width: 576px)
		{block}

media-max-md()
	@media screen and (max-width: 768px)
		{block}
	
media-max-lg()
	@media screen and (max-width: 992px)
		{block}
	
media-max-xl()
	@media screen and (max-width: 1200px)
		{block}
media-max-laptop()
	@media screen and (max-width: 1480px)
		{block}
media-mobile-all()
	@media screen and (max-width: 767px)
		{block}
media-max-sm()
	@media screen and (max-width: 576px)
		{block}
media-ie-high()
	@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
		{block}
		
media-max-errorlg()
	@media screen and (max-width: 1680px)
		{block}